<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<targets>
		<target name="logfile" xsi:type="File"
				fileName="${basedir}/Logs/${shortdate}_logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
		<target name="logErrorsFile" xsi:type="File"
				fileName="${basedir}/Logs/${shortdate}_logErrorfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Information" writeTo="logfile" />
		<logger name="*" minlevel="Error" writeTo="logErrorsFile" />
	</rules>
</nlog>